* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.card-hand {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}


.card-hand__card {
  cursor: pointer;
  height: auto;
  margin-left: -100px;
  padding-top: 20px;
  transition: padding-bottom .25s, padding-top .25s;
  width: 150px;
}

.card-hand__card:first-child {
  margin-left: 0;
}

.card-hand__card:hover,
.card-hand__card--selected {
  padding-bottom: 20px;
  padding-top: 0;
}


.message-box {
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  padding: 1em;
  text-align: center;
}
