/* Reset default margins and paddings so we don't get any surprises. */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.618;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

h2 {
  font-size: 1.25rem;
  margin-top: .5rem;
}

p {
  margin: 1em 0;
}

/* ID based selector to satisfy assignment requirement */
#navbar {
  background: black;
  /* Shadows taken from https://codepen.io/sdthornton/pen/wBZdXq */
  box-shadow:
    0 3px 6px rgba(0, 0, 0, .16),
    0 3px 6px rgba(0, 0, 0, .23);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 51rem;
  padding: 0 .5rem;
}

.navbar__body {
  display: flex;
  justify-content: space-around;
}

.navbar__link {
  color: white;
  font-weight: bold;
  margin: 0;
  padding: .25em .5em;
  text-decoration: none;
}

.navbar__link.active,
.navbar__link:hover {
  background: #333;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.youtube-embed {
  display: block;
  height: 315px;
  margin: 0 auto;
  max-width: 100%;
  width: 560px;
}


/* Make things bigger on bigger screens */
@media (min-width: 481px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .navbar__body {
    justify-content: flex-end;
  }

  .navbar__link {
    padding: .5em 1em;
  }
}
