/* Reset default margins and paddings so we don't get any surprises. */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
